
<section>
    <div id = "banner">
      <div id = "name">
          Find Your Adventure
      </div>
      
      <div id = "heading">
          Embark on your next life thrilling seeking adventure.
      </div>
<form id="search" action="/result" method="get">
        <input name="query" type="text" placeholder="Start your Advanture" id="query">
        <input type="submit" value="Search">
</form>
</div>

</section>
{{#if error}}
<div id="form-error" class="form-error">
  <h3>Error:</h3>
  {{ error }}
</div>
{{/if}}
<article class="resultPage">
	<div id = "destBlock">
         {{#each searchResults}}  
        <article class="destination">
        {{!-- <a href="https://en.wikipedia.org/wiki/{{name}}" target="_blank" class="title"> --}}
		<a href="/singleDest/{{this._id}}" class="title">
			<h3>{{name}}</h3>
		</a>
        <p>Region: {{region}}</p>
        <p>Climate: {{climate}}</p>
        <p>Rating: {{rating}}</p>
        <p>Number of Ratings: {{numOfRating}}</p>
		{{else}}
		<p>No Result</p>
        </article>
        {{/each}}
    </div>
</article>